@import "/src/scss/globals";

.nav {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 5rem;
  gap: 1.2rem;
}

