@import "src/scss/globals";

.signInPage {
  section {
    &:nth-of-type(2) {
      background-color: $c_tint-violet-dark;
      color: $c_tint-yellow;
    }
  }
}

.social {
  width: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
}