@import "/src/scss/globals";

.button {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 0.6rem;
  background: $c_main-white;
  box-shadow: $s_drop-shadow;
  transition: box-shadow 0.1s;
  cursor: pointer;

  img {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: $s_inner-shadow;
  }
}

.active {
  box-shadow: $s_inner-shadow !important;
}