@import "scss/globals";

#root {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;

  h1 {
    font-size: 4.8rem;
    line-height: 80%;
    font-weight: 400;
  }

  h2 {
    font-size: 3rem;
    font-weight: 400;
    color: $c_text-dark;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  input {
    padding: 1rem;
    align-self: stretch;
    border: none;
    border-radius: 1.5rem;
    background-color: #F0F0F3;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    box-shadow: -0.25rem -0.25rem 0.9rem 0px #FFF, 0px 0.13rem 0.25rem 0.13rem rgba(164, 174, 183, 0.25) inset;
    outline: none;

    &::placeholder {
      color: $c_text-base;
    }
  }

  > .profile-picture {
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    z-index: 100;
    display: flex;
    width: 3.8rem;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $c_tint-yellow;
    box-shadow: $s_drop-shadow;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 3.2rem;
      flex-shrink: 0;
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    padding: 5rem;
  }
}

@media screen and (max-width: $v_mobile-width) {
  #root {
    main {
      padding: 0;
    }
  }
}