$c_main-white: #F0F0F3;
$c_main-bg-alt: #F1EEF6;
$c_text-separator: #A4AEB700;
$c_text-base: #A4AEB7;
$c_text-dark: #728AB7;
$c_text-highlight: #AEA7D9B2;
$c_tint-violet-light: #7E4EFC;
$c_tint-violet-dark: #6839EC;
$c_tint-yellow: #E7D735;