$main-white: #F0F0F3;
$main-bg-alt: #F1EEF6;
$text-separator: #A4AEB700;
$text-base: #A4AEB7;
$text-dark: #728AB7;
$text-highlight: #AEA7D9B2;
$tint-violet-light: #7E4EFC;
$tint-violet-dark: #6839EC;
$tint-yellow: #E7D735;