// colors
$c_main-white: #F0F0F3;
$c_main-bg-alt: #F1EEF6;
$c_text-separator: #A4AEB700;
$c_text-base: #A4AEB7;
$c_text-dark: #728AB7;
$c_text-highlight: #AEA7D9B2;
$c_tint-violet-light: #7E4EFC;
$c_tint-violet-dark: #6839EC;
$c_tint-yellow: #E7D735;

// shadows
$s_drop-shadow: 2.1789321899414062px 2.1789321899414062px 6.536797046661377px 0px rgba(174, 174, 192, 0.4), -2.1789321899414062px -2.1789321899414062px 6.536797046661377px 0px rgba(255, 255, 255, 1);
$s_inner-shadow: -4px -4px 14px 0px rgba(255, 255, 255, 1), 0px 2px 4px 0px rgba(164, 174, 183, 0.25) inset;
